<footer>
    <div class="footer-content">
      <div class="footer-left">
        <div class="logo logo-footer">
          <h1>Ani<span>Match</span></h1>
        </div>
        <div class="mini-newsletter">
          <div class="mini-newsletter-title">
            <h4>Newsletter Signup</h4>
          </div>
          <form class="form-footer">
            <div class="input-footer">
              <i class="fa-thin fa-envelope"></i>
              <input type="email" placeholder="Enter Your Email Address" />
              <button type="button">
                <i class="fa-light fa-arrow-right"></i>
              </button>
            </div>
          </form>
          <hr />
          <div class="terms-footer">
            <input type="checkbox" id="terms-footer" />
            <label for="terms-footer">
              I agree to the <a href="#">Privacy Policy</a>
            </label>
          </div>
        </div>
      </div>
      <div class="footer-right">
        <div class="title title-left footer-title">
          <h2>We only provide curated<br />anime listings and tracking</h2>
        </div>
        <div class="footer-links">
          <div class="footer-items">
            <div class="footer-item">
              <h4>Socials</h4>
              <div class="links">
                <a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i>X</a>
                <a href="#"
                  ><i class="fa-brands fa-instagram"></i>Instagram</a
                >
                <a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a>
              </div>
            </div>
            <div class="footer-item">
              <h4>Menu</h4>
              <div class="links">
                <a href="#">Services</a>
                <a href="#">About Us</a>
                <a href="#">FAQs</a>
                <a href="#">News</a>
                <a href="#">Contacts</a>
                <a href="#">Email Us</a>
              </div>
            </div>
            <div class="footer-item">
              <h4>Legal</h4>
              <div class="links">
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookies Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer-bottom">
      <p>AniMatch &copy; 2024. All Rights Reserved.</p>
    </div>
  </footer>